<!DOCTYPE html>
<html>
  <head>
    <title>Add User</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>FUCK MY LIFE</h1>
    <form id="formAddUser" name="apply" method="POST" action="/apply/jo">
      <input id="inputUserName" type="text" placeholder="username" name="username" />
      <input id="inputUserEmail" type="text" placeholder="email" name="useremail" />
      <button id="btnSubmit" type="submit">Submit</button>
    </form>
  </body>
</html>